<!DOCTYPE html>
<html lang="cn" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>该页面不存在-404.life</title>
<link rel="shortcut icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
<link th:href="@{/css/style.css}"  href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="tcy_404 container">
<img th:src="@{/images/404.png}" src="/images/404.png">
<h2>抱歉，您访问的页面出错了</h2>
<p>您可能输错了网址，或该网页已删除或不存在</p>
</div>
</body>
</html>